/*reset*/
body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,img{margin:0;padding:0;border:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;vertical-align:top;}
ul, li{list-style:none;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal; text-align:center;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;}
.clear{clear:both;height:0;line-height:0;font-size:0;font-size:0;overflow:hidden;}
.clr{zoom:1;}
.clr:after{display:block;clear:both;height:0;content:"\0020";}
a{
	text-decoration: none;
	color: inherit;
	&:hover{
		color:#0789ab;
	}
}
body{
	font-family: "Microsoft YaHei";
}