<div data-ng-controller="CompanyController">

	<h2 class="catName">企业管理 &nbsp&nbsp&nbsp&nbsp<a href="" class="roomAdd" data-ng-click="loadSearchForm()">查询</a></h2>
	
	<div id="modal-edit-show" class="modal fade">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">企业信息修改</h4>
				</div>
				<div class="modal-body">
					<article class="txtIn">
						<span>企业名称</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyname"> <em>*</em>
					</article>
					<article class="txtIn">
						<span>企业是否注册</span>
						<select class="txtSelect" data-ng-disabled="!isEditItem" data-ng-model="companyregstatus">  
							 <option value = "0" selected="selected">请选择</option>  
							 <option value = "1">属地注册</option>  
							 <option value = "2">非属地注册</option>  
							 <option value = "3">尚未注册</option>
							 <option value = "4">不注册</option>
						</select>
					</article>
					<article class="txtIn">
						<span>注册资金（万元）</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyregcapital">
					</article>
					<article class="txtIn">
						<span>注册法人(负责人)</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="injectionname"> <em>*</em>
					</article>
					<article class="txtIn">
						<span>法人身份证号</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="injectionpeoplecode"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>单位性质</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companynature"> <em>*</em>
					</article>
					<article class="txtIn">
						<span>企业注册号</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyregnum">
					</article>
					<article class="txtIn" style="display:none">
						<span>五证合一号</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companymergenum">
					</article>
					<article class="txtIn">
						<span>限上企业</span>
						<select class="txtSelect" data-ng-disabled="!isEditItem" data-ng-model="companyisscale">  
							 <option value = "0" selected="selected">否</option>  
							 <option value = "1">是</option>
						</select>
					</article>
			
					<article class="txtIn">
						<span>主营业务</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companymainbusiness">
					</article>
					<article class="txtIn">
						<span>行业类别</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyindustry">
					</article>
					<article class="txtIn">
						<span>经营形式</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyoperationform">
					</article>
					<article class="txtIn">
						<span>经营状态</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyoperationstatus">
					</article>
					<article class="txtIn">
						<span>销售额（或营业额）（万元）</span> <input type="text" data-ng-disabled="!isEditItem" class="txtS" data-ng-model="companysales">
					</article>
					<article class="txtIn">
						<span>企业上年税收（万元）</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companylastyeartax">
					</article>
					<article class="txtIn">
						<span>增加值</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="companyincrements">
					</article>
					<article class="txtIn">
						<span>招商引资</span>
						<select class="txtSelect" data-ng-disabled="!isEditItem" data-ng-model="companyinvestment">  
							 <option value = "1" selected="selected">外资</option>  
							 <option value = "2">内资</option>
						</select>
					</article>
			
					<article class="txtIn">
						<span>法人姓名</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="injectionname"> <em>*</em>
					</article>
					<article class="txtIn">
						<span>法人联系电话</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="injectionphone"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>法人传真</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="injectiontax">
					</article>
					<article class="txtIn">
						<span>行政负责人</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="managername"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>行政联系电话</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="managerphone"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>行政QQ</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="managerqq">
					</article>
					<article class="txtIn">
						<span>财务姓名</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="financername"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>财务联系电话</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="financerphone"> <!-- <em>*</em> -->
					</article>
					<article class="txtIn">
						<span>财务QQ</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="financerqq">
					</article>
					<article class="txtIn">
						<span>员工总数</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="employees">
					</article>
					<article class="txtIn">
						<span>女职工数</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="womens">
					</article>
					<article class="txtIn">
						<span>青年职工数（28周岁以下）</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="yongers">
					</article>
					<article class="txtIn">
						<span>海归、港澳台人员</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="minds">
					</article>
					<article class="txtIn">
						<span>党员数</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="partymembers">
					</article>
					<article class="txtIn">
						<span>党组织名称</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="partyname">
					</article>
					<article class="txtIn">
						<span>党组织书记</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="partymanagername">
					</article>
					<article class="txtIn">
						<span>党组织书记联系电话</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="partymanagerphone">
					</article>
					<article class="txtIn">
						<span>党组织书记QQ</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="partymanagerqq">
					</article>
					<article class="txtIn">
						<span>工会数</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="tradeunions">
					</article>
			
					<article class="txtIn">
						<span>入驻前所在地</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" data-ng-model="oldaddress">
					</article>
					<article class="txtIn">
						<span>入驻时间</span> <input type="text" class="txtS" data-ng-disabled="!isEditItem" placeholder="格式：2018-08-08" data-ng-model="datelogin"> <em>*</em>
					</article>
					<article class="txtIn" data-ng-if="isEditItem">
						<span>入驻地址</span>
						<!-- 选择：社区-楼宇-楼层-房间，四级联动 -->
						<select id="selcommunity" data-ng-disabled="!isEditItem" data-ng-model="communityid" data-ng-change="getBuildings(communityid)">  
							 <option data-ng-repeat="item in communityItems" value="{{item.content[0]}}">{{item.content[1]}}</option>
						</select>
						<select id="selbuilding" data-ng-disabled="!isEditItem" data-ng-model="buildingid" data-ng-change="getFloors(buildingid)">  
							 <option data-ng-repeat="item in buildingItems" value="{{item.content[0]}}">{{item.content[1]}}</option>
						</select>
						<select id="selfloor" data-ng-disabled="!isEditItem" data-ng-model="floornum" data-ng-change="getRooms(floornum)">  
							 <option data-ng-repeat="item in floorItems" value="{{item}}">{{item}}</option>
						</select>
						<select id="selroom" data-ng-disabled="!isEditItem" data-ng-model="roomid" data-ng-change="getRoomArea(roomid)">
							 <option data-ng-repeat="item in roomItems" value="{{item.content[2]}}">{{item.content[3]}}</option>
						</select>			
						<em>*</em>
					</article>
					<article class="txtIn">
						<span>当前入驻地址</span> 
						<input type="text" class="txtS" data-ng-disabled="true" data-ng-model="roomaddress">
					</article>
					<article class="txtIn">
						<span>入驻面积（m<sup>2</sup>）</span> 
						<input type="text" class="txtS" data-ng-disabled="true" data-ng-model="roomarea">
					</article>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-success pull-left" title="保存" value="保存" data-ng-if="isEditItem" data-ng-click='save()' />
					<input type="button" class="btn btn-default pull-right" title="取消" value="取消" data-dismiss="modal" data-ng-click='focusInput=false' />
				</div>
			</div>
		</div>
	</div>
	
	<div id="modal-search-show" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">企业查询</h4>
				</div>
				<div class="modal-body">
					<span>企业名称</span>
					<input type="text" id="txtCompanyName" class="txtS">
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-success pull-left" title="查询" value="查询" data-ng-click='search()' />
					<input type="button" class="btn btn-default pull-right" title="取消" value="取消" data-dismiss="modal" data-ng-click='focusInput=false' />
				</div>
			</div>
		</div>
	</div>
	
	<div class="shequ-info">
		<table>
			<tr>
				<th>企业名称</th>
				<th>入住时间</th>
				<th>入住地址</th>
				<th>联系电话</th>
				<th>企业状态<br>（入住/外迁/关停/其他）</th>
				<th>操作</th>
			</tr>
			<tr data-ng-repeat="item in pagedItems">
				<td>{{item.content[1]}}</td>
				<td>{{item.content[2]}}</td>
				<td>{{item.content[3]}}</td>
				<td>{{item.content[4]}}</td>
				<td>{{getStatus(item.content[0])}}</td>
				<td>
					<a href="" data-ng-click="loadEditForm(item.content[0], false)">详情</a>/
					<a href="" data-ng-if="checkPermission('EditCompany')" data-ng-click="loadEditForm(item.content[0], true)">修改</a>/
					<a href="" data-ng-if="checkPermission('EditCompany')" data-ng-click='del(item.content[0])'>删除</a>
				</td>
			</tr>
			
		</table>
	</div>

	<div class="page">
		<paging page="currentPage"
			page-size="itemsPerPage"
			total="recordCount"
			show-prev-next="true"
			paging-action="setPage(page)">
	</div>
</div>