.Show{
	@include divBorderInner(1000px,auto);
	margin-bottom: 30px;
	padding: 40px 0 20px;
	h2{
		font-weight: 800;
		font-size: 26px;
		line-height: 30px;
		color: #000;
		width: 800px;
		margin: 0 auto;
	}
	h4{
    	font-size: 12px;
    	height: 40px;
    	line-height: 40px;
    	width: 600px;
    	margin: 0 auto;
    	color: #aaa;
	}
	p{
		font-size: 14px;
		padding: 10px 50px;
		text-indent: 2em;
	}
}
.xjxc{
	width: 990px;
	height: 644px;
	margin: 0 auto;
	background: url(img/xjxc.jpg) no-repeat;
	padding-top: 666px;
	.biaodan{
		width: 500px;
		margin: 0 auto;
		text-align: center;
		.txtS{
			display: block;
			height: 30px;
			width: 470px;
			padding: 3px 10px;
			font-size: 18px;
			margin-bottom: 14px;
			background: #f6ead8;
			border: none;
			border-radius:5px;
		}
		.txtM{
			display: block;
			height: 300px;
			width: 470px;
			padding: 10px;
			font-size: 18px;
			margin-bottom: 14px;
			background: #f6ead8;
			border: none;
			border-radius:5px;
			resize: none;
		}
		.txtB{
			width: 145px;
			height: 36px;
			margin: 20px;
			border: none;
			background: #f6ead8;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
.lyzs{
	@include divBorderInner(1000px,auto);
	margin-bottom: 30px;
	padding: 40px 0 20px;
	h2,h4{
		text-align: left;
	}
	.qyName{
		width: 240px;
		@include fl();
		margin-left: 30px;
		ul{
			li{
				border-top: 1px dotted #ddd;
				padding: 10px 10px 15px;
				line-height: 30px;
				h2{
					font-weight: bold;
					font-size: 16px;
					height: 30px;
					overflow: hidden;
				}
				h4{
					font-size: 14px;
					height: 30px;
					overflow: hidden;
				}
			}
		}
	}
	.qyResume, .qyMap{
		width: 668px;
		@include fl();
		margin-left: 30px;
	}
	.qyResume{
		padding-bottom: 30px;
		border-bottom: 1px solid #ddd;
		img{
			@include fl();
			display: block;
			width: 380px;
			height: 285px;
			margin-right: 20px;
		}
		h2{
			font-weight: 800;
			font-size: 26px;
			line-height: 30px;
			color: #000;
		}
		span.resume{
			display: block;
			font-size: 14px;
			padding-top: 10px;
			text-indent: 2em;
		}
	}
	.qyMap{
		padding-top: 20px;
		h4{
			font-size: 16px;
			font-weight: bold;
			line-height: 30px;
		}
		div.mapCon{
			@include divFullSize(auto);
			min-height: 400px;
			background: #fafafa;
		}
	}
}