<div class="slider" data-ng-controller="SliderController">
	<div class="slider-outer">
		<ul class="slider-wrap">
			<li data-ng-repeat="post in posts">
				<a><img src="{{getImageSrc(post.PostContent)}}"><span>{{post.Title}}</span><b></b></a>
			</li>
		</ul>
	</div>
	<div class="slider-status"></div>
	<script type="text/javascript">
        var slider = lib.Slider;     
        $('.slider').each(function(n,item){
            new slider(item,{
                // margin : 5,
                visible : 1,
                trigger : '.slider-status',
                hasTrigger : true,
                play:true,
                loop:true,
                interval:10000,
            });
        });
        </script>
</div>

<div class="main clr" data-ng-controller="IndexController">
    
    <article class="list-1 clr" data-ng-repeat="post in posts">
    	<a href="#"><img src="{{getImageSrc(post.PostContent)}}"></a>
    	<h2><a href="#/content/post/show?id={{post.PostID}}">{{post.Title}}</a></h2>
        <span class="fromm">楼宇动态</span>
    </article>
    
    <div class="title"><h4>楼宇展示</h4></div>
    <article class="top-img clr">
        <span data-ng-repeat="build in buildings">
        	<a href="#/building/show?id={{build['content'][0]}}"><img src="{{build['content'][2]}}"><p>{{build['content'][1]}}</p><b></b></a>
        </span>
    </article>
    
    <!-- <article class="list-3">
      	<h2><a href="#">北干楼宇经济网移动版</a></h2>
  	</article> -->
</div>

<script>
	$(function(){
		$('.top-img span:even').css('margin-left','0px');
		$('.top-news ul li').last().css('border-bottom','none');
	})
</script>